* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(to top, #f7cad0 0%, #ffffff 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f7cad0; */
  color: #ff477e;
  border-style: solid;
  border-color: #36454f;
  border-width: 0 0 0.5px 0;
}

.logo-title {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin: 20px;
}

.logo-text {
  margin-top: 5%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #ff477e;
  padding: 1rem;
  display: block;
  transition: 0.5s;
}

.navbar-links li a:hover {
  color: #f7cad0;
}

.toggleBTN {
  position: absolute;
  top: 8%;
  right: 5%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 8%;
  height: 4%;
}

.toggleBTN .bar {
  height: 3px;
  width: 100%;
  background-color: #ff477e;
  border-radius: 10px;
}

.logo-image-two {
  display: none;
}

@media (max-width: 600px) {
  .toggleBTN {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a:hover {
    color: #ff477e;
    background-color: rgb(238, 192, 192);
  }

  .navbar-links.active {
    display: flex;
  }

  .logo-text {
    display: none;
  }

  .logo-image-one {
    display: none;
  }

  .logo-image-two {
    display: flex;
  }

  .logo-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-image-two {
    margin-right: 8%;
  }

  .info {
    text-align: center;
  }

  .info div {
    margin-left: 2%;
  }
}

.footer {
  display: flex;
  justify-items: space;
  /* background-color: #ff99cc; */
  /* This is just to show that the footer and header are two seperate items */
  margin-top: 50px;
  border-style: solid;
  border-color: #36454f;
  border-width: 0.5px 0 0 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5%;
  width: 100%;
}

.info div {
  flex: 40%;
  margin-right: 10%;
}

.title {
  width: 100%;
}

.content {
  width: 100%;
}

.map {
  margin: 20px;
}

.facebook-logo {
  height: 50px;
  width: 50px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.insta-logo {
  height: 50px;
  width: 50px;
  margin-bottom: 2%;
}

@media (max-width: 815px) {
  .map {
    display: none;
  }
}

/* non-footer and header code. */

.homePageBanner {
  color: #ff5c8a;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: homeBannerFadeIn;
  animation-duration: 4s;
}

@keyframes homeBannerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.homePageBanner h1 {
  font-size: 48px;
}

.favorite_cupcakes_object {
  color: #ff5c8a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.favorite_cupcakes_object h1 {
  font-size: 48px;
}

.favorite_cupcakes_div img {
  width: 15%;
  height: auto;
  padding: 2%;
}

.favorite_cupcakes_div img:hover {
  border: 5px dotted #ff477e;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.favorite_cupcakes_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@keyframes BTNAnimation {
  from {
    background-color: #ff5c8a;
    color: white;
  }
  to {
    background-color: #f7cad0;
    color: #36454f;
  }
}

.menu_button {
  background-color: #ff5c8a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.menu_button:hover {
  animation-name: BTNAnimation;
  animation-duration: 0.5s;
  background-color: #f7cad0;
  color: #36454f;
}

.menu_button_div {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slideshow container */
.slideshow-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* max-width: 1000px;
  position: relative;
  margin: auto; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  color: #ff5c8a;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-left: 2%;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  margin-right: 2%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #ff5c8a;
  font-size: 15px;
  padding: 8px 12px;
  /* position: absolute; */
  bottom: 8px;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #f7cad0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
